<h1>Demo site <%= title %></h1> 
 

<section id="feed-post">
    <h4>Post</h4>
    <% if(locals.user){ %>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" placeholder="Type here" required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="post_container">
        <ul>
            <% for(post of post){ %>
                <li>
                    <p>
                           <%= post.content %>
                           <br>
                        <small>
                            <%= post.user.email %>
                            <!-- post.user.name -->
                        </small>
                        <!-- <%= post.user %> -->
                    </p>
                    
                    <div id="post_comments">
                        <% if(locals.user){ %>
                        <form action="/comments/create" method="post">
                            <input type="text" name="content" id="" placeholder="Type here to comment">
                            <input type="hidden" name="post" id="" value="<%= post._id %>">
                            <input type="submit" value="ADD COMMENT">
                        </form>
                        <% } %>

                        <div id="post_comment_list">
                            <ul id="post-comments-<%= post._id %>">
                                <% for (comment of post.comments){%>
                                    
                                <p>
                                    <%= comment.content %>
                                    <br>
                                    <small>
                                        <%= comment.user.name %>
                                    </small>
                                </p>    
                                <%} %>
                            </ul>
    
                        </div>
                    </div>
                    
                </li>
            <% } %>
        </ul>
    </div>
</section>