
    <head>
        
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/home.css">


        <%- style %>
        
    </head>

    <body>
        <%- include('_header.ejs'); %>
        <!-- <%- script %> -->
        <main id="layout-main">
            <%- body %>
            <!-- <br> -->
        </main>
    
        <% include('_footer.ejs'); %>
        <%- script %>
    </body>
        
        
    
